In [1]:
#Course: Data Science Masters
#Title: Project 4
#Tool: Jupyter notebook 
#Author: Krishna A
#Date: 26-07-2018 (DD/MM/YYYY)

# PROJECT ON APPICATION OF CLUSTERING MODELS

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
data = pd.read_csv('data_stocks.csv')

In [14]:
data.head(10)

,DATE,SP500,NASDAQ.AAL,NASDAQ.AAPL,NASDAQ.ADBE,NASDAQ.ADI,NASDAQ.ADP,NASDAQ.ADSK,NASDAQ.AKAM,NASDAQ.ALXN,...,NYSE.WYN,NYSE.XEC,NYSE.XEL,NYSE.XL,NYSE.XOM,NYSE.XRX,NYSE.XYL,NYSE.YUM,NYSE.ZBH,NYSE.ZTS
0,1491226200,2363.6101,42.3300,143.6800,129.6300,82.040,102.2300,85.2200,59.760,121.520,...,84.3700,119.035,44.40,39.88,82.0300,7.360,50.22,63.86,122.000,53.350
1,1491226260,2364.1001,42.3600,143.7000,130.3200,82.080,102.1400,85.6500,59.840,121.480,...,84.3700,119.035,44.11,39.88,82.0300,7.380,50.22,63.74,121.770,53.350
2,1491226320,2362.6799,42.3100,143.6901,130.2250,82.030,102.2125,85.5100,59.795,121.930,...,84.5850,119.260,44.09,39.98,82.0200,7.360,50.12,63.75,121.700,53.365
3,1491226380,2364.3101,42.3700,143.6400,130.0729,82.000,102.1400,85.4872,59.620,121.440,...,84.4600,119.260,44.25,39.99,82.0200,7.350,50.16,63.88,121.700,53.380
4,1491226440,2364.8501,42.5378,143.6600,129.8800,82.035,102.0600,85.7001,59.620,121.600,...,84.4700,119.610,44.11,39.96,82.0300,7.360,50.20,63.91,121.695,53.240
5,1491226500,2365.6201,42.5399,143.7800,130.0700,82.040,102.0400,85.9200,59.610,121.700,...,84.4825,119.580,44.15,39.96,82.0300,7.360,50.20,63.84,121.850,53.220
6,1491226560,2365.2000,42.4700,143.8640,130.1800,82.120,102.3300,85.9120,59.540,121.630,...,84.5000,119.320,44.20,39.98,82.0566,7.365,50.33,63.83,122.100,53.330
7,1491226620,2365.2900,42.4700,143.8100,130.1400,82.190,102.3700,85.8200,59.410,121.610,...,84.5200,119.110,44.12,39.95,82.0000,7.360,50.30,63.83,122.280,53.370
8,1491226680,2364.3201,42.3900,143.8150,130.1000,82.230,102.3800,85.8800,59.430,121.715,...,84.4800,119.310,44.12,39.93,81.9500,7.370,50.25,63.85,121.875,53.330
9,1491226740,2364.6399,42.3300,143.8000,130.2100,82.165,102.3300,85.8600,59.260,121.850,...,84.4000,119.150,44.17,39.86,81.9000,7.365,50.22,63.84,121.930,53.400

In [15]:
data.set_index('DATE',inplace=True)
#help(data.reset_index)

In [16]:
 data.head()

,SP500,NASDAQ.AAL,NASDAQ.AAPL,NASDAQ.ADBE,NASDAQ.ADI,NASDAQ.ADP,NASDAQ.ADSK,NASDAQ.AKAM,NASDAQ.ALXN,NASDAQ.AMAT,...,NYSE.WYN,NYSE.XEC,NYSE.XEL,NYSE.XL,NYSE.XOM,NYSE.XRX,NYSE.XYL,NYSE.YUM,NYSE.ZBH,NYSE.ZTS
DATE,,,,,,,,,,,,,,,,,,,,,
1491226200,2363.6101,42.3300,143.6800,129.6300,82.040,102.2300,85.2200,59.760,121.52,38.99,...,84.370,119.035,44.40,39.88,82.03,7.36,50.22,63.86,122.000,53.350
1491226260,2364.1001,42.3600,143.7000,130.3200,82.080,102.1400,85.6500,59.840,121.48,39.01,...,84.370,119.035,44.11,39.88,82.03,7.38,50.22,63.74,121.770,53.350
1491226320,2362.6799,42.3100,143.6901,130.2250,82.030,102.2125,85.5100,59.795,121.93,38.91,...,84.585,119.260,44.09,39.98,82.02,7.36,50.12,63.75,121.700,53.365
1491226380,2364.3101,42.3700,143.6400,130.0729,82.000,102.1400,85.4872,59.620,121.44,38.84,...,84.460,119.260,44.25,39.99,82.02,7.35,50.16,63.88,121.700,53.380
1491226440,2364.8501,42.5378,143.6600,129.8800,82.035,102.0600,85.7001,59.620,121.60,38.93,...,84.470,119.610,44.11,39.96,82.03,7.36,50.20,63.91,121.695,53.240

In [17]:
from sklearn import cluster, datasets as dt

In [18]:
n_clusters = 5

In [22]:
np.random.seed(0)
k_Means = cluster.KMeans(n_clusters=n_clusters, n_init=4, max_iter=200)
k_Means.fit(data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=200,
    n_clusters=5, n_init=4, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [23]:
k_Means.labels_

array([3, 3, 3, ..., 2, 2, 2])

In [24]:
len(k_Means.labels_)

41266

In [26]:
k_Means.cluster_centers_

array([[2463.89355356,   51.72091371,  151.09195482, ...,   74.4564128 ,
         125.60720501,   62.33758151],
       [2389.2337455 ,   45.09578816,  151.05863693, ...,   68.61020961,
         118.89236521,   58.85141914],
       [2450.56897154,   46.2734716 ,  160.11520883, ...,   76.00650235,
         112.7923117 ,   61.19815181],
       [2359.07250401,   43.77352685,  142.9854813 , ...,   64.62048161,
         120.80458871,   53.63068342],
       [2428.45690327,   49.27577431,  148.63380235, ...,   73.30616629,
         124.87093192,   62.56580785]])

In [27]:
data['Cluster_No'] = k_Means.labels_

In [28]:
data.head()

,SP500,NASDAQ.AAL,NASDAQ.AAPL,NASDAQ.ADBE,NASDAQ.ADI,NASDAQ.ADP,NASDAQ.ADSK,NASDAQ.AKAM,NASDAQ.ALXN,NASDAQ.AMAT,...,NYSE.XEC,NYSE.XEL,NYSE.XL,NYSE.XOM,NYSE.XRX,NYSE.XYL,NYSE.YUM,NYSE.ZBH,NYSE.ZTS,Cluster_No
DATE,,,,,,,,,,,,,,,,,,,,,
1491226200,2363.6101,42.3300,143.6800,129.6300,82.040,102.2300,85.2200,59.760,121.52,38.99,...,119.035,44.40,39.88,82.03,7.36,50.22,63.86,122.000,53.350,3
1491226260,2364.1001,42.3600,143.7000,130.3200,82.080,102.1400,85.6500,59.840,121.48,39.01,...,119.035,44.11,39.88,82.03,7.38,50.22,63.74,121.770,53.350,3
1491226320,2362.6799,42.3100,143.6901,130.2250,82.030,102.2125,85.5100,59.795,121.93,38.91,...,119.260,44.09,39.98,82.02,7.36,50.12,63.75,121.700,53.365,3
1491226380,2364.3101,42.3700,143.6400,130.0729,82.000,102.1400,85.4872,59.620,121.44,38.84,...,119.260,44.25,39.99,82.02,7.35,50.16,63.88,121.700,53.380,3
1491226440,2364.8501,42.5378,143.6600,129.8800,82.035,102.0600,85.7001,59.620,121.60,38.93,...,119.610,44.11,39.96,82.03,7.36,50.20,63.91,121.695,53.240,3

In [29]:
np.mean(data.SP500)

2421.5378816846815

In [30]:
np.std(data.SP500)

39.55665564075822

In [32]:
companyMean = data.apply(np.mean, axis=0)
type(companyMean)

pandas.core.series.Series

In [33]:
companyStd = data.apply(np.std, axis=0)
type(companyStd)

pandas.core.series.Series

In [34]:
companyName = data.columns.tolist()[:len(data.columns)-1]

In [37]:
companyData = pd.DataFrame({'Company': companyName, 'cMean': companyMean.tolist()[:len(data.columns)-1], 'cStd': companyStd.tolist()[:len(data.columns)-1]})
companyData.head()

       Company        cMean       cStd
0        SP500  2421.537882  39.556656
1   NASDAQ.AAL    47.708346   3.259338
2  NASDAQ.AAPL   150.453566   6.236750
3  NASDAQ.ADBE   141.317930   6.916656
4   NASDAQ.ADI    79.446873   2.000259

In [38]:
companyData.sort_values('cStd',ascending=False)

          Company        cMean       cStd
92    NASDAQ.PCLN  1867.722306  78.341014
164      NYSE.AZO   598.324633  76.696839
66    NASDAQ.ISRG   901.320301  66.399068
200      NYSE.CMG   417.670807  63.347703
97    NASDAQ.REGN   457.676948  46.809471
53   NASDAQ.GOOGL   941.369665  43.450668
52    NASDAQ.GOOG   922.131875  42.227541
0           SP500  2421.537882  39.556656
12    NASDAQ.AMZN   968.747188  38.966212
88    NASDAQ.ORLY   224.415988  27.904559
22    NASDAQ.CHTR   348.719389  25.256789
111   NASDAQ.ULTA   274.241713  25.112028
85    NASDAQ.NVDA   141.419298  25.003991
165       NYSE.BA   202.534020  22.736921
170      NYSE.BCR   306.158251  22.395830
209      NYSE.COO   228.707758  20.094502
176      NYSE.BLK   409.701703  19.228577
125      NYSE.AAP   123.296657  19.017181
281      NYSE.GWW   180.151759  18.426612
38    NASDAQ.EQIX   432.201844  17.370001
411      NYSE.PXD   161.082634  17.154405
448      NYSE.TDG   263.070526  17.060790
115   NASDAQ.VRTX   131.767415  16.472286
177      NYSE.BLL    51.297688  15.874231
16    NASDAQ.BIIB   272.957640  13.763828
429      NYSE.SHW   338.119248  13.586502
264       NYSE.FL    56.910060  13.280365
14    NASDAQ.AVGO   238.598238  12.824722
131      NYSE.ADS   244.854817  12.653201
82    NASDAQ.NFLX   160.850341  12.570000
..            ...          ...        ...
486      NYSE.WMB    30.102558   0.927698
64    NASDAQ.INTC    35.489340   0.915785
54    NASDAQ.GRMN    51.344658   0.915121
490       NYSE.WY    33.248472   0.907998
321      NYSE.KMI    19.757229   0.906750
424      NYSE.RSG    63.788602   0.896241
246      NYSE.EMR    59.387318   0.887733
339      NYSE.LUK    25.528150   0.872308
63    NASDAQ.INFO    46.288736   0.850310
328        NYSE.L    47.246764   0.816147
360      NYSE.MON   116.911295   0.809861
293      NYSE.HPE    17.744404   0.763962
471      NYSE.USB    51.863284   0.760711
403      NYSE.PPL    38.609105   0.734429
166      NYSE.BAC    23.701408   0.674120
195      NYSE.CHK     4.990837   0.654819
294      NYSE.HPQ    18.534090   0.648805
204      NYSE.CNP    28.212311   0.647618
390      NYSE.PFE    33.269778   0.593905
318      NYSE.KEY    18.160407   0.577986
86     NASDAQ.NWS    13.715717   0.556995
87    NASDAQ.NWSA    13.316591   0.532835
102   NASDAQ.SPLS     9.666552   0.506469
298      NYSE.HST    18.272814   0.424607
90    NASDAQ.PBCT    17.362005   0.420245
415       NYSE.RF    14.260065   0.378946
489       NYSE.WU    19.272765   0.362158
57    NASDAQ.HBAN    13.051218   0.358746
134      NYSE.AES    11.347591   0.281469
258        NYSE.F    11.139757   0.262379

[501 rows x 3 columns]

In [41]:
df1 = data.loc[data.Cluster_No == 1, :]
df2 = data.loc[data.Cluster_No == 2, :]
df3 = data.loc[data.Cluster_No == 3, :]
df4 = data.loc[data.Cluster_No == 4, :]
df5 = data.loc[data.Cluster_No == 5, :]

In [42]:
df1Mean = df1.apply(np.mean, axis=0).tolist()[:len(df1.columns)-1]
df1Std = df1.apply(np.std, axis=0).tolist()[:len(df1.columns)-1]

companyDf1 = pd.DataFrame({'Company': companyName, 'cMean': df1Mean, 'cStd': df1Std})

df2Mean = df2.apply(np.mean, axis=0).tolist()[:len(df2.columns)-1]
df2Std = df2.apply(np.std, axis=0).tolist()[:len(df2.columns)-1]

companyDf2 = pd.DataFrame({'Company': companyName, 'cMean': df2Mean, 'cStd': df2Std})

df3Mean = df3.apply(np.mean, axis=0).tolist()[:len(df3.columns)-1]
df3Std = df3.apply(np.std, axis=0).tolist()[:len(df3.columns)-1]

companyDf3 = pd.DataFrame({'Company': companyName, 'cMean': df3Mean, 'cStd': df3Std})

df4Mean = df4.apply(np.mean, axis=0).tolist()[:len(df4.columns)-1]
df4Std = df4.apply(np.std, axis=0).tolist()[:len(df4.columns)-1]

companyDf4 = pd.DataFrame({'Company': companyName, 'cMean': df4Mean, 'cStd': df4Std})

df5Mean = df5.apply(np.mean, axis=0).tolist()[:len(df5.columns)-1]
df5Std = df5.apply(np.std, axis=0).tolist()[:len(df5.columns)-1]

companyDf5 = pd.DataFrame({'Company': companyName, 'cMean': df5Mean, 'cStd': df5Std})

In [43]:
companyDf1.set_index('Company',inplace=True)
companyDf2.set_index('Company',inplace=True)
companyDf3.set_index('Company',inplace=True)
companyDf4.set_index('Company',inplace=True)
companyDf5.set_index('Company',inplace=True)

In [44]:
companyData['Cluster_1_Mean'] = companyDf1.cMean
companyData['Cluster_2_Mean'] = companyDf2.cMean
companyData['Cluster_3_Mean'] = companyDf3.cMean
companyData['Cluster_4_Mean'] = companyDf4.cMean
companyData['Cluster_5_Mean'] = companyDf5.cMean

companyData['Cluster_1_Std'] = companyDf1.cStd
companyData['Cluster_2_Std'] = companyDf2.cStd
companyData['Cluster_3_Std'] = companyDf3.cStd
companyData['Cluster_4_Std'] = companyDf4.cStd
companyData['Cluster_5_Std'] = companyDf5.cStd

In [45]:
companyData.head()

,Company,cMean,cStd,Cluster_1_Mean,Cluster_2_Mean,Cluster_3_Mean,Cluster_4_Mean,Cluster_5_Mean,Cluster_1_Std,Cluster_2_Std,Cluster_3_Std,Cluster_4_Std,Cluster_5_Std
0,SP500,2421.537882,39.556656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NASDAQ.AAL,47.708346,3.259338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NASDAQ.AAPL,150.453566,6.236750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NASDAQ.ADBE,141.317930,6.916656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NASDAQ.ADI,79.446873,2.000259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN